* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  padding: 0 50px;
  color: whitesmoke;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo img {
  width: 50px;
  height: 50px;
}
body {
  background-color: #121212;
}

.navbar {
  height: 7rem;
  width: 98%;
  display: flex;
  align-items: center;
}
.settings {
  background: none;
  border: none;
}
.color-mode {
  background: none;
  border: none;
}
.typing-area {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 300;
  font-family: monospace;
  overflow-wrap: break-word;
}
.text span {
  transition: 0.3s ease;
}
.text span.current {
  border-left: whitesmoke 3px solid;
}
.text span.wrong {
  background: rgba(255, 0, 0, 0.2);
}
.text span.correct {
  color: hsla(0, 0%, 100%, 0.5);
}
.stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 20px;
  color: #9b9999;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.keyboard {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.keyboard-container {
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.key.active {
  transform: translateY(2px);
  background: #8698fc;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  padding: 5px;
  gap: 10px;
}
.key {
  color: hsla(0, 0%, 100%, 0.5);
  padding: 4px 10px;
  background: none;
  border: 2px solid black;
  border-radius: 8px;
}
.key-space {
  width: 15em;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description h1 {
  color: whitesmoke;
}
.description p {
  color: rgba(245, 245, 245, 0.8);
}

.result-window {
  background-color: rgba(18, 18, 18, 0.9);
  border: #9b9999 2px solid;
  color: whitesmoke;
  width: 25rem;
  height: 20rem;
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  display: none;
  animation: smoothDisplay 0.3s ease-in;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.result-window span {
  font-size: 24px;
}
.res-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.result-window h1 {
  text-align: center;
}
.close-btn {
  display: flex;
  justify-content: end;
  align-items: center;
}
.close {
  background: none;
  border: none;
  padding: 5px 10px;
  color: whitesmoke;
}
.restart {
  padding: 10px;
}
.retry-btn,
.retry {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 10rem;
  padding: 10px;
  border: none;
  border-radius: 50px;
  font-size: 24px;
}

@keyframes smoothDisplay {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}
.retryAgain {
  display: flex;
  justify-content: center;
  width: 100%;
  display: none;
  padding-bottom: 20px;
}
.retry-icon,
.retry-icon-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(0deg);
}
.retry-icon.active,
.retry-icon-2.active {
  transform: rotate(360deg);
  transition: 1s ease;
}
